.navbar {
<<<<<<< HEAD
    background: rgb(50, 50, 50);
=======
>>>>>>> d03564601fd71781b43739b83a5722cdd7965c65
    height: 5rem;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover {
    color: white;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid;
}
.desktopMenuButton {
    background: white;
}

.desktopMenuImage {
    background-color: white;
}